

@font-face {
    font-family: 'eurostile';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('eurostile'),
         url('assets/fonts/eurostile.woff') format('woff');
}

@font-face {
    font-family: 'europa';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('europa'),
        url('assets/fonts/europa.woff2') format('woff2'),
        url('assets/fonts/europa.woff') format('woff');
}
